<div class="row">
  <div *ngFor = "let book of books; index as i" class="col s12 m6 l4">
      <div class="card white">
        {{i + 1}}.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Titulo: {{book.titulo}}.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Isbn: {{book.ISBN}}<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Editorial: {{book.editorial}}<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Precio: {{book.precio}}<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Autor: {{book.autor}}<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fecha de Publicacion: {{book.fechaPublicacion}}
      </div>
  </div> 
</div> 
<form #formulario = 'ngForm'>
  <div>
    <label>Busqueda:
      <input name= "data" ngModel required class="formulario"/>
    </label>
  </div>
  <button type = 'button' (click)="find(formulario.form)" class="waves-effect waves-light btn">Find</button>
</form>
<div *ngIf = "book1">
  <div class="row">
    <div *ngFor = "let book of book1; index as i" class="col s12 m6 l4">
        <div class="card white">
          {{i + 1}}.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Titulo: {{book.titulo}}.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Isbn: {{book.ISBN}}<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Editorial: {{book.editorial}}<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Precio: {{book.precio}}<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Autor: {{book.autor}}<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fecha de Publicacion: {{book.fechaPublicacion}}
        </div>
    </div> 
  </div> 
</div>
